

.movie-tile {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}



.movie-tile {
  height: 175px;
  font-size: 15px;
  margin: 0px 5px 5px 20px;
}

.movie-tile a img {
  border-radius: 5px;
  display: inline;
}

.tile-info {
  display: inline;
  margin-bottom: 10px;
  font-family: serif;
}

.tile-info a {
  font-family: 'Quicksand', sans-serif;
}


#map {
  height: 500px;
  width: 100%;
  margin-bottom: 50px;
}

#firstHeading {
  font-size: 15px;
}

.bar-svg {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 45px;
}

.bar-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.bar-holder {
  margin-top: 10px;
}
