{% extends "movies/base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "movies:home" %}">Home</a></li>
    <li class="breadcrumb-item active">List of {{ list_type}}</li>
{% endblock %}

{% block content %}
    <!-- <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>{{ objects.count }} {{ list_type }}
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
      {% for o in objects %}
        {% if list_type == "Movies" %}
          <div class="col-md-4">
            <div class="row movie-tile">
              <div class="col-md-5">
              <a href="/movies/movies/{{ o.movie_id }}">
                <img alt="movie poster" src="https://{{ o.poster }}" style="width: 100px;">
              </a>
            </div>
              <div class="col-md-7 tile-info">
                <a href="https://{{ o.poster }}"><h4>{{ o.title }}</h4></a>
                <p>Rating: {{o.rating}}</p>
                <p>Genre: {{o.movie_genre}}</p>
              </div>
            </div>
          </div>
        {% else %}
          <a href="/movies/theaters/{{ o.th_id }}">
            {{ o }} Theater!
          </a>
        {% endif %}
      {% endfor %}
        </div>
    </div>
{% endblock %}
